@import "reset.css";
body {
	color:#000;
	background-color: #dcdcdc;
  background:url('../img/index.png') no-repeat center center fixed;
  background-size:cover;

}
.admin{
  font-weight: bold;
  font-size: 1.5em;
  color:red;
}
.upper{
  text-transform: uppercase;
}

.champ{
	resize:vertical;
}
.bolder{
  font-weight: bold;
  color:#5383d3;
}
.bleu{
  color:#5383d3;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
img{
  width:100%;
}
a {
	text-decoration: none;
}
.panel-footer{
  float:right;
}
.index{
  height:100%;
  width:100%;

  padding-bottom: 180px;
}
.lienutile {
	color:#608BD2;
	text-decoration: underline;
	font-weight: bold;
}

.lienutile:hover {
	color:#230381;
}

input {
	font: 16px/26px "Raleway", sans-serif;
}

body {
  color: #666;
  background-color: #f1f2f2;
	font: 16px/26px "Raleway", sans-serif;
}
.form-wrap {
  margin-right:20%;
  float:right;
  opacity:.9;
  background-color: #fff;
  width: 20%;
  box-shadow: 0px 1px 8px #BEBEBE;
  -webkit-box-shadow: 0px 1px 8px #BEBEBE;
	-moz-box-shadow: 0px 1px 8px #BEBEBE;
}
  .form-wrap .tabs {
		overflow: hidden;
	}
    .form-wrap .tabs h3 {
      float: left;
			width: 50%;
		}
			.form-wrap .tabs h3 a
			{
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        background-color: #e6e7e8;
        display: block;
				color: #666;
			}
				.form-wrap .tabs h3 a.active
				{
					background-color: #fff;
				}
  .form-wrap .tabs-content {
		padding: 1.5em;
	}
		.form-wrap .tabs-content div[id$="tab-content"]
		{
			display: none;
		}
		.form-wrap .tabs-content .active
		 {
			display: block !important;
		}
  .form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    outline: 0;
    display: inline-block;
    margin-top:15px;
		width: 100%;
	}
 form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #230381;
    border: none;
    color: #fff;
    cursor: pointer;
		text-transform: uppercase;
		transition:.4s;
	}
 form .button:hover {
			background-color: white;
			color:#230381;
			border : #230381 1px solid;
		}

  .form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
		margin: .5em 0 1.5em;
	}

    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
			opacity: 1;
		}

  .form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
		cursor: pointer;
	}

    .form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
			left: -14px;
		}
    .form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
  .form-content .help-text {
		margin-top: .6em;
	}
    .form-content .help-text p {
      text-align: center;
			font-size: 14px;
		}

/* header */
.header {
  opacity:.9;
	background-color:#191970;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	color: #ffffff;
	box-sizing: border-box;
	top:-100px;

	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.header .header-limiter {
  background-color: #191970;
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

.header-placeholder{
	height: 80px;
	display: none;
}

/* nav */
.header .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header .header-limiter nav {
  padding-top:1%;
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
  width : 70%;

}

.header .header-limiter nav p{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
  transition:.4s;
}
.header .header-limiter nav p a{

	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	opacity: 0.9;
  transition:.4s;
}

.header .header-limiter nav a:hover{
  font-weight: bold;
  color: #608bd2;
}

.logo-header{
  float:left;
  padding:5px;
  width:10%;
}
.logo-header:hover{
  opacity:0.8;
}

/* Footer */
.footer{
  opacity:.8;
	background-color:#191970;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
  margin-top: 80px;
	padding: 55px 50px;
  position:relative;
  bottom: 0;
  left:0;
	z-index : 1;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer .footer-left{
	width: 40%;
}

/* The company logo */
.footer .footer-logo{
  padding :10px;
  width : 30%;
	margin: 0;
}

.footer .footer-logo:hover{
  opacity:0.8;
}


/* Footer links */
.footer .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  #5383d3;
  transition:.8s;
}
.footer .footer-links a:hover{
  color:#ffffff;
  text-decoration:underline;
}

.footer .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer .footer-center{
	width: 35%;
}
.footer .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer .footer-center i.envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:16px;
	line-height:2;
}
.footer .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
  transition:0.4s;
}
.footer .mail p a:hover{
  color:white;
}

/* google maps */
.mapouter{
  text-align:right;
  height:150px;
  width:60%;
}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:150px;
  width:100%;
  border-radius:5px;
  border:2px solid black;
}

/* Footer Right */
.footer .footer-right{
	width: 20%;
}

.footer .about{
	line-height: 20px;
	color:  #92999f;
	font-size: 0.9em;
	font-weight: normal;
	margin: 0;
}

.footer h3{
	display: block;
	color:  #ffffff;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-icons{
	padding-top:20px;
}

/*lien RSX*/
.facebook {
  background: url('../img/rsx.png') no-repeat -37px -120px;
	width: 51px;
	height: 51px;
  border-radius: 100%;
}

.twitter {background: url('../img/rsx.png') no-repeat -96px -120px;
	width: 51px;
	height: 51px;
  border-radius: 100%;
}

.facebook:hover{
  background: url('../img/rsx.png') no-repeat -37px -39px;
  	width: 51px;
  	height: 51px;
}
.twitter:hover{
  background: url('../img/rsx.png') no-repeat -96px -39px;
	width: 51px;
	height: 51px;
}
.rsx {
	margin:5px 5px 0 0;
	float:left;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*photo profil aniamtion*/
.icon:hover{
    animation: bounce 1s;
}

/*responsive footer*/
@media (max-width: 880px) {
	.footer{
		font: bold 14px sans-serif;
	}

	.footer- .footer-left,
	.footer- .footer-center,
	.footer- .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer- .footer-center i{
		margin:none;
	}
}

/*spooky la mascotte - Fantôme pour les pages erreur*/
.spooky {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  animation: floaty 2s infinite;
}

.body {
  position: relative;
  margin: 50px auto 0;
  width: 180px;
  height: 220px;
  background: #f2fbf1;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
}

.body::before,
.body::after {
  content: '';
  position: absolute;
  top: 130px;
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f2fbf1;
  animation: floaty .2s infinite;
}

.body::before {
  left: -18px;
}

.body::after {
  right: -18px;
}

.eyes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 15px 0;
  width: 90px;
  height: 20px;
}

.eyes::before,
.eyes::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  background: #252c49;
  border-radius: 50%;
}

.mouth {
  background: #252c49;
  margin: 40px auto 0;
  width: 60px;
  height: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mouth::before {
  content: ' ';
  display: block;
  background: #fff;
  margin-left: 20px;
  width: 10px;
  height: 10px;
}

.feet {
  position: absolute;
  display: flex;
  bottom: -18px;
  width: 180px;
  height: 36px;
}

.feet>*,
.feet::before,
.feet::after {
  content: ' ';
  width: 36px;
  height: 36px;
  background: #f2fbf1;
  border-radius: 50%;
}

.shadow {
  margin: -90px auto 0;
  background: #252c49;
  width: 180px;
  height: 40px;
  border-radius: 50%;
  animation: zoomy 2s infinite;
}

/*animation - Flotement du fantôme*/
@keyframes floaty {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/*retour index pour page erreur*/
.back{
  text-decoration: none;
  color : black;
}

/*texte erreur pour page erreur*/
.noAccess {
	padding-top:45px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

/*animation ombre fantôme*/
@keyframes zoomy {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.75);
  }
}

/*formulaire sans animation*/
.intro {
  opacity:0.8;
	max-width:80%;
	width: 100%;
	text-align: center;
	margin: 0 auto 100px auto;
	background-color: #4169E1;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color:white;
}

.intro h2{
	font-size: 1.5em;
	padding: 10px 0;
}

.intro h2 span{
	color:#292C2F;
	font-weight: bold;
	font-family: 'Fondamento', cursive;
	font-size: 1.75em;
	padding-left: 1%;
}

.intro p{
	margin: 0 auto;
	padding-left: 10%;
	background-color: #4169E1;
	font-size: 1.25em;
}

.texte-intro{
	margin-left:20%;
	font-size: 1.4em;
	font-style: bold;
}

/* login sign up*/
.form{
	background-color: #A9A9A9;
	max-width: 50%;
	width: 100%;
	margin:10px auto;
	padding:10px;
}

.form legend{
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}

.form .reset{
	float:right;
	width:10%;
	height: 10%;
}

.champ{
	margin:0 auto;
}

/*bouton submit*/
.myButton {
	background-color:#230381;
	border-radius:15px;
	cursor:pointer;
	color:white;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
  transition:.4s;
  border:none;
}
.myButton:hover {
	background-color:white;
	border:#230381 1px solid;
	color:#230381;
}

/* Niko profil.php */
.profil {
  background-color: #F8F8F8;
  padding-top:10px;
  width: 960px;
  margin: 80px auto;
  position:relative;
}

.profil aside img{
  margin:20px auto;
}


.profil h2 {
  font-size: 2em;
  color: #5383d3;
  font-family: Georgia, Times, Serif;
  font-weight: normal;
  margin: auto 5%;;
  padding: 1%;
  text-decoration: underline;
}

.profil h3 {
  font-weight: bold;
  font-size: 1.2em;
  color:  #5383d3;
  margin: 0px;
  -right:15%;
}

.profil a {
  position :absolute;
  bottom : 10%;
  right : 10%;
}

.profil aside {
  margin:10px;
  width: 220px;
  border: 1px solid #10889E;
  float: left;
  margin-left: 30px;
  padding: 5px;
}
.profil aside img {
  border: 1px solid black;
  width:99%;
}

.profil .main {
  width: 650px;
  float: right;
  margin: 20px 0;
  line-height: 20px;
}
.profil .main li{
  line-height: 2em;
}
.ligne {
	background-color: #CFCFCF;
	width:50%;
	height: 2px;
	margin:10px auto;
}
.profil .trait{
  margin:0 auto 5px;
  width : 120px;
  height : 1px;
  background-color: white;
}

.check{
  color:blue;
}

.rappel {
	margin:0 auto;
}


/* minislider */
.minislider{
	background-color: #F6F6F6;
	border-radius: 10px;
	text-align: justify;
	margin-left:20%;
	opacity:.9;
	padding:30px;
  float:left;
	opacity:.9;
	border:1px black solid;
  width : 30%;
}

.minislider2{
	background-color: #F6F6F6;
	border-radius: 10px;
	text-align: justify;
	margin-right:20%;
	opacity:.9;
	padding:30px;
  float:right;
	opacity:.9;
	border:1px black solid;
  width : 30%;
}

/* formulaire contact */
.contacts input[type=text],input[type=mail], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.contacts input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.contacts input[type=submit]:hover, input[type=reset]:hover {
	background-color: white;
	color:#4CAF50;
}

.form-container {
	opacity:.9;
	margin: 50px auto;
	width:80%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.form-container2{
	margin:auto auto auto 20%;
	z-index:3;
}
.bigcontainer {
	width :70%;
	margin: 100px;
  border-radius: 5px;
  padding: 20px;
}
.profil-form{
	padding :20px;
	background-color:whitesmoke;
	Float: right;
  width:40%;
  border: 1px solid black;
  border-radius: 10px;
}
.profil-form input[type=text],input[type=mail],input[type=number],input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
.profil-form label{
	color: #5383d3;
	font-size: 1.2em;
}
.profil-form input[type=submit], input[type=reset] {
  background-color: #5383d3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.profil-form input[type=submit]:hover, input[type=reset]:hover {
	background-color: white;
	border : 1px solid#5383d3;
	color:#5383d3;
}

/*///////////////////////////////////////////////////////////////////////////*/

.signlogin-container{
	opacity:.9;
	position: absolute;
	right: 20%;
}
.a-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
		margin-bottom: 10%;
}
.a-group a {
    display: block;
    width: 90%;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
		border-radius:10px;
		margin:0 auto;
}

.button{
    background-color:#4169E1;
		cursor: pointer;
		position:fixed;
		bottom : 5%;
		right:5%;
		z-index: 2;
}
.a-sign-in {
    background-color: #4169E1;
    color: white;
		transition:.4s;
}
.a-sign-up {
    background-color: #4169E1;
    color: white;
		transition:.4s;
}
.a-sign-in:hover{
  background-color :white;
  border: 1px solid black;
	color:#4169E1;
}
.a-sign-up:hover{
  color:#4169E1;
  border: 1px solid black;
	background-color :white;
}
.form-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
}
.form-content input {
    width: 100%;
    padding: 10px;
		margin: 10px 0;
    border:1px solid black;
		border-radius: 5px;
    font-size: 16px;
}
.form-content input:first-child {
		margin-top: 30px;
}
.form-content input:focus {
    box-shadow: inset 0px 0px 5px #121515;
}
#sign-in {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    background-color: white;
    width: 100%;
    position: absolute;
    top:0;
    color: #fff;
    padding: 0 10px;
    z-index: 1;
		border-radius:15px;
		border: 1px solid black;
}
#sign-in h1 {
    margin-bottom: 0;
}
.frg-password {
    text-decoration: none;
    color: #ececec;
}
.frg-password:hover {
    color: #121515;
}
.btn-sign-in {
    outline: none;
    border: 3px solid #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: none;
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
#sign-up {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px 20px;
    opacity: 0;
		border-radius:15px;
		border: 1px solid black;
}
#sign-up:target {
    opacity: 1;
    z-index: 2;
}
#sign-up h1 {
    margin-bottom: 0;
    color: #121515;
}
.btn-sign-up {
    outline: none;
    border: 3px solid #121515;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: none;
    font-weight: 600;
    color: #121515;
    font-size: 24px;
    cursor: pointer;
}
.signlogin-container{
	width:25%;
}
/*boite des vaccins déja fait*/
.vaccinfait{
  float: left;
  width:50%;
  }

  .listeVaccin input[type='date']{
  border-radius: 5px;
  width:80%;
  text-align:center;
  border: 1px solid #B2B2B2;
  margin-left: 10px;
  }

  .listeVaccin input[type='checkbox']{
    margin-right: 10px;
  }

  .carnet, .profil{
    width:75%;
    padding:20px;
    background-color: #F8F8F8;
    margin: 80px auto;
    border: 1px solid black;
    border-radius: 10px;
  }

  .carnet img{
    border: 1px solid black;
    width:25%;
    padding: 10px;
  }

  .pp{
    width:100%;
    text-align: center;
  }

  .pp h2{
    margin: 10px 0;
  }

  .vaccinButton{
    width:10%;
    margin-left:45%;
    margin-top:20px;
    margin-bottom:20px;
    background-color:#230381;
    border-radius:5px;
    cursor:pointer;
    color:white;
    font-size:15px;
    padding:6px 13px;
    text-decoration:none;
    transition:.4s;
    border:none;
  }

  .vaccinButton:hover {
    background-color:white;
    border:#230381 1px solid;
    color:#230381;
  }

  .error{
color:red;
}